* {
    direction: rtl;
    font-family: 'B Nazanin';
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    color: gray;
    font-family: 'B Titr';

}

p {
    text-align: justify;
    font-size: 18px;
}

table, td {
    border: 5px solid white;
}